<div class="max-w-3xl mx-auto p-6 rounded-lg">
  <main id="todolist" class="p-6">
    <h2 class="text-2xl font-semibold mb-4 text-center">📝 Todo List</h2>

    @if (todos.length > 0) {
    <ul class="space-y-2">
      @for (todo of todos; track $index) {
      <li [class.done]="todo.completed" class="flex items-center justify-between p-2 border rounded">
        <span class="label">{{ todo.description }}</span>
        <div class="actions flex gap-2">
          <button class="btn-picto" type="button" (click)="updateTodo(todo)" [attr.aria-label]="todo.completed"
            [attr.title]="todo.completed ? 'Undone' : 'Completed'">
            <mat-icon>{{ todo.completed ? 'check_box' : 'check_box_outline_blank' }}</mat-icon>
          </button>
          <button class="btn-picto" type="button" (click)="deleteTodo(todo.id)" aria-label="Delete" title="Delete">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </li>
      }
    </ul>
    } @else {
    <p class="emptylist text-gray-500 italic">Your todo list is empty.</p>
    }

    <!-- <app-toggle-button *ngIf="todo.length > 0" [label]="'Move done items at the end?'" name="todosort"
      (clicked)="clickOnToggle()">
    </app-toggle-button> -->

    <form (submit)="addTodo(); $event.preventDefault()" class="flex gap-4 mb-6">
      <mat-form-field class="flex-1" appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput [(ngModel)]="newTodo.name" name="name" required />
      </mat-form-field>

      <mat-form-field class="flex-1" appearance="outline">
        <mat-label>Description</mat-label>
        <input matInput [(ngModel)]="newTodo.description" name="description" required />
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit">Add Todo</button>
    </form>
  </main>
</div>