<div class="flex gap-4 justify-center mt-6">
  <button mat-raised-button
    class="!bg-green-600 hover:bg-green-700 !text-white font-semibold py-2 px-4 rounded shadow-md disabled:opacity-50"
    (click)="startListening()" [disabled]="isConnected">
    Start Listen Messages
  </button>
  <button mat-stroked-button
    class="!bg-red-600 hover:!bg-red-700 !text-white font-semibold py-2 px-4 rounded shadow-md disabled:opacity-30"
    (click)="disconnect()" [disabled]="!isConnected">
    Stop
  </button>
</div>

<div class="p-6 flex justify-center">
  @if (currentIndex < pilotTowerSequence.length) { <button mat-raised-button color="accent" class="px-6 py-2"
    (click)="sendMessage()" [disabled]="!isConnected">
    {{ pilotTowerSequence[currentIndex] }}
    </button>
    }
</div>
@for (item of responseSig(); track $index) {
<p>
  <span class="response-time">{{item.time}}:</span>
  <span class="response-status">[{{item.status}}]:</span>
  <span class="response-text">{{item.text}}</span>
  <span class="response-status response-text">{{item.id}}</span>
</p>
}