<div class="flex gap-4 justify-center mt-6 mb-8">
  <button mat-raised-button
    class="w-48 !rounded-none !border-none !bg-green-600 hover:bg-green-700 !text-white font-semibold py-2 px-4 shadow-md disabled:opacity-50"
    (click)="startListening()" [disabled]="!isConnectedSig()">
    Start Listen Messages
  </button>
  <button mat-stroked-button
    class="w-48 !rounded-none !border-none !bg-red-600 hover:!bg-red-700 !text-white font-semibold py-2 px-4 shadow-md disabled:opacity-30"
    (click)="disconnect()" [disabled]="!isConnectedSig()">
    Stop
  </button>
</div>

<!-- <div class="p-6 flex justify-center">
  @if (currentIndex < pilotTowerSequence.length) { <button mat-raised-button color="accent" class="px-6 py-2"
    (click)="sendMessage()" [disabled]="!isConnected">
    {{ pilotTowerSequence[currentIndex] }}
    </button>
    }
</div> -->
@for (item of responseSig(); track $index) {
<p class="font-mono text-sm border-b border-gray-700 py-1">
  <span class="inline-block w-[80px] text-gray-400">
    {{ item.timestamp | date:'shortTime' }}
  </span>
  <span class="inline-block w-[90px]" [ngClass]="{
    'text-green-500': item.status === 'OK',
    'text-blue-500': item.status === 'INFO',
    'text-orange-500': item.status === 'WARNING',
    'text-purple-500': item.status === 'UPDATE'
  }">
    [{{ item.status }}]
  </span>
  <span class="inline-block">
    {{ item.message }}
  </span>
</p>
}