button {
  line-height: 120%;
}

.response-timestamp {
  color: #494949;
  font-weight: bold;
  margin-right: 8px;
}

.response-status {
  font-style: italic;
  margin-right: 8px;
}

.response-message {
  color: #3d3d3d;
}

::ng-deep html.dark-mode .response-timestamp {
  color: #94a1ac;
}

::ng-deep html.dark-mode .response-status {
  color: #28a745;
}

::ng-deep html.dark-mode .response-message {
  color: #bebdbd;
}