<div class="wrapper">
  <div class="container">
    <h1 class="mb-4">Login</h1>
    <form (ngSubmit)="onSubmit()" class="form" [formGroup]="loginForm">
      <input type="text" placeholder="email" formControlName="email" required [class.invalid]="
          loginForm.get('email')?.invalid &&
          (loginForm.get('email')?.dirty ||
            loginForm.get('email')?.touched ||
            isSubmitted)
        " />
      @if (loginForm.get('email')?.hasError('required') &&
      (loginForm.get('email')?.dirty || loginForm.get('email')?.touched ||
      isSubmitted)) {
      <div class="error">This field is required</div>
      }

      <input type="password" placeholder="Password" formControlName="password" required [class.invalid]="
          loginForm.get('password')?.invalid &&
          (loginForm.get('password')?.dirty ||
            loginForm.get('password')?.touched ||
            isSubmitted)
        " />
      @if (loginForm.get('password')?.hasError('required') &&
      (loginForm.get('password')?.dirty || loginForm.get('password')?.touched ||
      isSubmitted)) {
      <div class="error">This field is required</div>
      }

      <!-- <div>
        <select formControlName="optionalRoleId" required>
          <option value="" disabled selected>Select your role</option>
          @for (role of optionalRoles; track $index) {
          <option [ngValue]="role.id">{{ role.name }}</option>
          }
        </select>
      </div> -->

      <button type="submit" id="login-button" [disabled]="authService.currentUserSig() !== null">
        Login
      </button>
    </form>
  </div>

  <ul class="bg-bubbles">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</div>