<div class="wrapper" [class.login]="mode === 'login'" [class.register]="mode === 'register'">
  <div class="container">
    <div class="container-inner">
      <form (ngSubmit)="onSubmit()" class="form" [formGroup]="authForm">
        <h1 class="mb-4">{{ mode === 'login' ? 'Login' : 'Register' }}</h1>

        <div class="input-envelope">
          <input type="email" placeholder="email" formControlName="email" required [class.invalid]="
          authForm.get('email')?.invalid &&
          (authForm.get('email')?.dirty ||
            authForm.get('email')?.touched ||
            isSubmitted)
        " />
          <div class="error-envelope">
            @if (authForm.get('email')?.hasError('required') &&
            (authForm.get('email')?.dirty || authForm.get('email')?.touched ||
            isSubmitted)) {
            <div class="error">This field is required</div>
            }
          </div>
        </div>

        <div class="input-envelope">
          @if (mode === 'register') {
          <input type="text" placeholder="username" formControlName="username" required [class.invalid]="
          authForm.get('username')?.invalid &&
          (authForm.get('username')?.dirty ||
            authForm.get('username')?.touched ||
            isSubmitted)
        " />

          <div class="error-envelope">
            @if (authForm.get('username')?.hasError('required') &&
            (authForm.get('username')?.dirty || authForm.get('username')?.touched ||
            isSubmitted)) {
            <div class="error">This field is required</div>
            }
          </div>
          }
        </div>

        <div class="input-envelope" style="position: relative;" [class.isPasswordFocused]="isPasswordFocused"
          [class.invalid]="
          authForm.get('password')?.invalid &&
          (authForm.get('password')?.dirty ||
            authForm.get('password')?.touched ||
            isSubmitted)
        ">
          <input [type]="showPassword ? 'text' : 'password'" placeholder="password" formControlName="password" required
            [class.invalid]="
          authForm.get('password')?.invalid &&
          (authForm.get('password')?.dirty ||
            authForm.get('password')?.touched ||
            isSubmitted)
        " (focus)="isPasswordFocused = true" (blur)="isPasswordFocused = false" />
          <!-- <button id="show-password" type="button" (click)="showPassword = !showPassword" class="" tabindex="-1"
            aria-label="Toggle password visibility">
            <mat-icon>{{ showPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button> -->
          <div class="error-envelope">
            @if (authForm.get('password')?.hasError('required') &&
            (authForm.get('password')?.dirty || authForm.get('password')?.touched ||
            isSubmitted)) {
            <div class="error">This field is required</div>
            }
          </div>
        </div>

        <div class="input-envelope">
          @if (mode === 'register') {
          <input type="password" placeholder="confirm password" formControlName="confirmPassword" required
            [class.invalid]="
          authForm.get('confirmPassword')?.invalid &&
          (authForm.get('confirmPassword')?.dirty ||
            authForm.get('confirmPassword')?.touched ||
            isSubmitted)
        " />
          <div class="error-envelope">
            @if (authForm.get('confirmPassword')?.hasError('required') &&
            (authForm.get('confirmPassword')?.dirty || authForm.get('confirmPassword')?.touched ||
            isSubmitted)) {
            <div class="error">This field is required</div>
            }
          </div>
          }
        </div>

        <!-- <div>
        <select formControlName="optionalRoleId" required>
          <option value="" disabled selected>Select your role</option>
          @for (role of optionalRoles; track $index) {
          <option [ngValue]="role.id">{{ role.name }}</option>
          }
        </select>
      </div> -->

        <button type="submit" id="submit-button" [disabled]="authService.currentUserSig() !== null || authForm.invalid">
          {{ mode === 'login' ? 'Login' : 'Register' }}
        </button>
      </form>
    </div>
  </div>

  <ul class="bg-bubbles">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>
</div>